.github {
	display: block;
	position: fixed;
	opacity: .8;
	top: 8px; right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	background: url(vendor/github.svg) #fdd no-repeat center;
}
@media (min-width:768px) { .github {
	top: 10px; right: 10px;
	width: 128px;
	height: 64px;
	border-radius: 0;
	background-position: 48px 24px;
	transform-origin: center center;
	transform: translate(56px,-24px) rotate(45deg);
}}
@media (min-width:1200px) { .github {
	top: 0; right: 0;
	width: 256px;
	height: 64px;
	border-radius: 0;
	background-position: center;
	transform: translate(96px) rotate(45deg);
}}