
/* LAZY! */
div { padding: .5em }
* + p { margin-top: 1em }
p + * { margin-top: 1em }


body {
	font-family: serif;
	color: rgba(10,20,30,var(--opacity));
}

a { font-family: sans; color: steelblue }


main article {
	margin: 1em;
}

footer .disabled {
	color: lightgrey;
}

time[pubdate] { color: lightgrey }

blockquote .black { color: rgba(10,20,30,var(--opacity)) }

section h2 {
	text-align: right;
	margin-bottom: 2rem;
}

#news {
	display: flex;
	flex-flow: column;
}

#news > article {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	margin-bottom: 3rem;
	padding-bottom: 1rem;
	line-height: 1.3em;
}

#news > article > time {
	border-bottom: thin solid black;
	color: grey;
}

#news > article > p {
	margin-bottom: 0;
	text-align: justify;
}

#news > article > a {
	align-self: flex-end;
	margin-bottom: 0;
}

#info {
	text-align: justify;
	font-size: 1.3rem;
	line-height: 1.6;
}

#info > section {
	margin-bottom: 4rem;
}


nav { background-color: var(--bg-menu) }

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space: nowrap;

	padding: 1em;
	font-size: .5rem;
}
.navbar a {
	color: var(--fg-menu);
	font-family: sans;
	font-size: 1rem;
}
.navbar .active {
	color: steelblue;
}
.navbar .disabled {
	color: lightgrey;
}


/* @media all { */
	.navbar {
		flex-flow: column nowrap;
		align-items: flex-start;
	}
	.navbar > * { margin-bottom: 1em }
/* } */

@media (min-width: 768px) {
	.navbar {
		flex-flow: row nowrap;
		align-items: center;
		margin-bottom: .5rem;
	}
	.navbar > * { margin-bottom: 0 }
	#news {
		border-left: thin solid grey;
		padding-left: 1em;
	}
}

@media (min-width: 1200px) {
	#news {
		border-left: thin solid lightgrey;
	}
}

@media (max-width: 1199px) {
	blockquote > p > wbr{ display: block }
	blockquote > p > wbr:nth-child(3) { margin-bottom: 1em }
}
@media (min-width: 1200px) {
	blockquote > p > wbr:nth-child(3) { display: block }
}


.alert {
	background-color: steelblue;
	color: white;
	font-family: sans;
	font-size: 1.4em;
	width: 100%;
	display: flex;
}