:root {
	box-sizing: border-box;
	overflow-x: hidden;
	hyphens: auto;
	/* text-rendering: optimizeSpeed; */
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga" 1;
}

*, *::before, *::after {
	box-sizing: inherit;
	font-family: inherit;
}

img, picture { display: block; max-width: 100% }

a { text-decoration: none }

body {
	min-height: 100vh;
	/* overflow: clip; */
	margin: 0;
	padding: 0;
}

@media(prefers-reduced-motion:reduce) {
	*,*::before,*::after {
		/* <https://github.com/hankchizljaw/modern-css-reset>. */
		animation-duration:.01ms !important;
		animation-iteration-count:1 !important;
		transition-duration:.01ms !important;
		scroll-behavior:auto !important
	}
}