table {
	border-collapse: collapse;
	// font-size: min(3rem, calc(100svw / 16 / 2.3));
	font-size: 2rem;
	font-family: sans;
	white-space: nowrap;
}

th, td {
	border: 1px solid black;
	padding: .3em;
}

.crosstable th {
	min-width: 2em;
}

.crosstable th, .crosstable td:nth-child(1) {
	color: #ed889c;
}

.crosstable td:nth-child(1) {
	font-weight: bold;
}

.crosstable td:nth-child(2) {
	padding: 0 1em;
	font-family: serif;
}

.crosstable td:not(:nth-child(2)) {
	text-align: center;
}

.crosstable td.identity {
	color: lightgrey;
}

.crosstable td:last-child {
	text-align: left;
	padding-left: 1.5em;
}

.crosstable.nolast td:last-child {
	text-align: center;
	padding-left: 0;
}
