:root {
	box-sizing: border-box;
	overflow-x: hidden;
	font-size: calc(.8rem + 1vh);
	hyphens: auto;
	/* text-rendering: optimizeSpeed; */
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga" 1;
}

*, *::before, *::after {
	box-sizing: inherit;
	font-family: inherit;
}

img, picture { display: block; max-width: 100% }

h1, h2, h3, h4, h5, h6 { font-weight: 500 }
h1 { font-size: 2.5rem }
h2 { font-size: 2rem }

a { text-decoration: none }

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

@media(prefers-reduced-motion:reduce) {
	*,*::before,*::after {
		/* <https://github.com/hankchizljaw/modern-css-reset>. */
		animation-duration:.01ms !important;
		animation-iteration-count:1 !important;
		transition-duration:.01ms !important;
		scroll-behavior:auto !important
	}
}